<section class="header p-3">
    <h2>Mi Instituto</h2>
</section>
<section class="table p-3 w-100">    
    <small class="m-3">   
      <span class="text-primary">
        {{this.msjLicense}}
      </span>
    </small>
    <section #editDom class="edit-section mb-2 animate__animated animate__fadeInRight">
          <form [formGroup]="institutosForm"  (ngSubmit)="onSubmit()"
              class="d-flex justify-content-center align-items-end w-100">
            <div class="d-flex justify-content-between flex-wrap align-items-end  ">

              
            <div class="m-2 d-flex flex-column w-50">
              <label for="nombre">Nombre Instituto 
                  <strong class="text-danger">*</strong>
              </label>
              <input class="inpForms form-control rounded-pill"
                     formControlName="nombre" 
                     #nombre id="nombre">
            </div>
          

            <div class="m-2 d-flex flex-column w-25">
                <label for="nombre">R.U.C.: 
                    <strong class="text-danger">*</strong>
                </label>
                <input class="inpForms form-control rounded-pill"
                       formControlName="ruc" 
                       #ruc id="ruc">
            </div>

            <div class="m-2 d-flex flex-column w-100">
                <label for="numeroProceso">Breve Descripción de mi insitución 
                    <strong class="text-danger">*</strong>
                </label>
                <input class="inpForms form-control rounded-pill"
                       formControlName="descripcion" 
                       #descripcion id="descripcion">
            </div>

            <div class="m-2 d-flex flex-column w-25">
                <label for="codProvincia">Provincia</label>
                <select class="inpForms form-select rounded-pill w-100" 
                        formControlName="codProvincia" #codProvincia 
                        (change)="getCantones()"
                        id="codProvincia" aria-label="">
                        <option *ngFor="let provincia of provinciaLista"                                     
                                [value]="provincia.codigo">
                                {{provincia.nombre | titlecase }}                                
                        </option>
                </select>
            </div>

            <div class="m-2 d-flex flex-column w-25">
                <label for="codCanton">Cantón</label>
                <select class="inpForms form-select rounded-pill w-100"
                        formControlName="codCanton" #codCanton id="codCanton" aria-label="">
                        <option *ngFor="let canton of cantonLista" [value]="canton.codigo" >
                            {{canton.nombre | titlecase }}                                
                        </option>
                </select>
            </div>

            <div class="m-2 d-flex w-50 flex-column">
                <label for="direccion">Dirección</label>
                <input type="text" class="inpForms form-control rounded-pill"
                       formControlName="direccion" 
                       #direccion id="direccion" >
            </div>

            <div class="m-2 d-flex flex-column">
                <label for="telef_a">Telf. Celular</label>
                <input type="text" class="inpForms form-control rounded-pill"
                       formControlName="telef_a" 
                       #telef_a id="telef_a">
            </div>
            
            <div class="m-2 d-flex flex-column">
                <label for="telf_b">
                    Teléfono 1
                </label>
                <input type="text" class="inpForms form-control rounded-pill"
                       formControlName="telf_b"
                       #telf_b id="telf_b">
            </div>
            
            <div class="m-2 d-flex flex-column">
                <label for="telf_c">
                    Teléfono 2
                </label>
                <input type="text" class="inpForms form-control rounded-pill"
                       formControlName="telf_c"
                       #telf_c id="telf_c">
            </div>

            <div class="m-2 d-flex flex-column">
                <label for="email1">
                    Email 1
                </label>
                <input type="text" class="inpForms form-control rounded-pill"
                       formControlName="email1" 
                       #email1 id="email1">
            </div>

            <div class="m-2 d-flex flex-column">
                <label for="email2">
                    Email 2
                </label>
                <input type="text" class="inpForms form-control rounded-pill"
                       formControlName="email2" 
                       #email2 id="email2">
            </div>

            <div class="m-2 d-flex flex-column">
              <label for="web">
                  Web
              </label>
              <input type="text" class="inpForms form-control rounded-pill"
                     formControlName="web" 
                     #web id="web">
            </div>

            <div class="m-2 d-flex flex-column">
              <label for="fecha_fundacion">Fecha de Fundación
                <strong class="text-danger">*</strong>
              </label>
              <input type="date" 
                     class="inpForms form-control rounded-pill"
                     formControlName="fecha_fundacion"
                     #fecha_fundacion id="fecha_fundacion" >
            </div>

        </div>

        </form>

    </section>
    <div class="d-flex justify-content-end align-items-center">
        <button mat-flat-button color="warn" (click)="limpiar()" *ngIf="_cancel">
            <mat-icon>cancel</mat-icon>
        </button>
        <button type="submit" (click)="onSubmit()" class="m-2"  mat-flat-button color="primary" style="margin-right: 15px;">
            <mat-icon>{{icon_button}}</mat-icon> {{textButton}} Instituto
        </button>
    </div>
</section>
<hr>
<section class="header p-3">
  <h2 class="d-flex align-items-center"><mat-icon>location_city</mat-icon> Instituciones Creadas</h2>
</section>
<section class="body p-3">
    <div class="mb-2 d-flex">
        <input class=" w-100 form-control rounded-pill"  fxFlex="auto" type="text"
               (keyup)="applyFilter($event)" #input 
               placeholder="Busqueda de instituciones...">
    </div>
    <div class="table-responsive w-100">
        <table mat-table [dataSource]="dataSource" class="mtTable shadow" matSort class="w-100" >

            <ng-container matColumnDef="edit">
                
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <span>
                    <mat-icon>
                      edit
                    </mat-icon>
                  </span>
                  <span>
                    <mat-icon>
                      delete
                    </mat-icon>
                  </span>
                </th>
                
                <td mat-cell *matCellDef="let row">
                  <span class="edit" (click)="catchData(row)">
                    <mat-icon>
                      edit
                    </mat-icon>
                  </span>
                  <span class="delete" (click)="eliminarInstituto(row.codcia)">
                    <mat-icon>
                      delete
                    </mat-icon>
                  </span>
                </td>
                
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nombre
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{row.nombre}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Descripcion
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{row.descripcion}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="direccion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Direccion
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{row.direccion}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="email1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Email
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{row.email1}}
                    </td>
                </ng-container>
                
                
                <ng-container matColumnDef="telef_a">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Telf. 1
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{row.telefA}}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="web">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Web
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{row.web}}
                    </td>
                </ng-container>

              </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnHead"></tr>
            <tr mat-row *matRowDef="let row; columns: columnHead;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                Datos no encontrados...
              </td>
            </tr>
        </table>
        <mat-paginator [length]="100"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page">
  </mat-paginator>    
    </div>

</section>