
.header{
    background-color: whitesmoke;
    color: black !important; 
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

.body {
    background-color: whitesmoke;
    color: black !important;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0px;
    height: 448px;
}

.footer {
    background-color: whitesmoke;
    color: black !important;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0px;
}

.cursos {
    background-color: white;
    border-radius: 5px;
    // box-shadow: 0px 10px 10px rgba(0,0,0, 0.5);
    border: solid 1px gray;
    // height: 100;
    overflow-y: auto;
}


