

<div class="cont container-fluid d-flex justify-content-around align-items-center m-0 p-4" id="loginForm" >
    
    <div class="darkBox animate__animated animate__fadeInLeft d-flex justify-content-center flex-column align-items-center">
        <figure>
            <img id="img" src="../../../assets/logo.gif" width="300px" alt="">
        </figure>
        <section class="text-info">
            <h3> Total de inscripciones abiertas ( {{_cantidad_procesos_act}} )</h3>
        </section>
        <section class="boxdatas">
            <div *ngFor="let xinscrip of lisConfVinc" class="boxdata m-2 p-4" >
                <div class="d-flex align-items-center fs-6 "  > <mat-icon>workspace_premium</mat-icon> {{xinscrip.nombre_inscrip}} </div>
                <div class="text-secondary w-100" style="font-size: 8pt; text-align: right; "> Fecha Apertura: {{xinscrip.fecha_inicio | date: 'dd-MMM-yyyy'}} </div>
                <div class="text-secondary w-100" style="font-size: 8pt; text-align: right; "> Fecha Cierre: {{xinscrip.fecha_fin | date: 'dd-MMM-yyyy' }} </div>
                <div class="w-100 m-0">
                    <button mat-raised-button 
                            color="warn"
                            (click)="registrar(xinscrip)"
                            class="mt-2 w-100">
                            <mat-icon>done</mat-icon>
                            Regsitrarme a este proceso
                    </button>
                </div>
            </div>
        </section>
    </div>

    <div class="box animate__animated animate__fadeInRight">
        <h1>Login</h1>
        <hr>
        <form [formGroup]="loginForm" class="mb-2" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">
                    User email:
                </label>
                <input type="email" class="form-control" formControlName="email" #email id="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">              
                <label for="password" class="form-label">
                    Contraseña:
                </label>
                <input type="password" class="form-control" formControlName="password" #password id="password"  placeholder="******">
            </div>
            <button type="submit" class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center"  >
                <mat-icon>key</mat-icon> Ingresar
            </button>
        </form>
        <section class=" d-flex flex-column">
                <small class="secbtn d-flex align-items-center">
                    <mat-icon>warning</mat-icon>
                    Olvide mi Contraseña
                </small> 
                <mat-divider></mat-divider>
        </section>
    </div>
    
</div>

