
.header{
    background-color: whitesmoke;
    color: black !important; 
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

.body {
    background-color: whitesmoke;
    color: black !important;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0px;
}

.footer {
    background-color: whitesmoke;
    color: black !important;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0px;
}

